/* GLOBAL STYLES  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

/* LAYOUT */
.container-two {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
}
.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;

  min-width: 280px;
}

.heading {
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #007897;
}
.text {
  line-height: 1.6em;
  margin-bottom: 1.25em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 22px;
  background-color: #007b9d;
  border-radius: 8px;
}

li {
  display: flex;
  margin-bottom: 1rem;
}
li h4 {
  margin: 0.4rem 0 0.2rem;
}

.link-container .links-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.link-container ul li a {
  text-decoration: none;
  color: #007897;
  transition: 0.3s;
}
.link-container ul li a:hover {
  text-decoration: underline;
}
.banner-wrapper {
  background-color: #c8d2bc;
  margin: 0px;
  width: 100%;
  height: 200px;
  padding: 36px 0px;
}
.container {
  margin: 0px 50px;
  width: calc(100% - 100px);
  padding: 0px;
  border: 0px;
}
.banner {
  position: relative;
    width: 100%;
    padding: 4em 0;
    border-radius: 10px;
    background-image: url(https://html5up.net/uploads/demos/minimaxing/assets/css/images/banner.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 0 0 20px #fff;
}
.banner h2, .banner span {
  color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px;
    font-family: 'Arial Black', sans-serif;
}
