.container-three{
display: flex;
width:100%;
gap:100px;


}
.container-three>div{
  width:50%;
}
.container-three h2{
    text-transform: lowercase;
    font-size: 1.6em;
    letter-spacing: -1px;
    margin-bottom: 1em;
    color: #007897;
    font-weight: normal;
}
.middle-three{
display:flex;
/*   justify-content:space-between; */
  gap:100px;
margin-top:10px;
}
/* .img-three{
margin-top:40px;} */
.middle-three> .item-three>h3,h3{
  
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
.middle-three> .item-three{
max-width:300px;
/* height:200px; */
}
.item-three > h3{
font-size: 4.5em;
 margin-bottom: 0.8em;
  color: #283121;
}
.content-three p{
  margin-bottom: 1.25em;
  line-height: 1.8em;

}
.right-three .button{
display: inline-block;
    padding: 15px 25px 15px 25px;
    background-color: #007b9d;
    border-radius: 10px;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: -1px;
    border: solid 1px #006e8b;
    box-shadow: inset 0px 0px 0px 1px #18a8c8;
background-image: -webkit-linear-gradient(top, #008dad, #007b9d);}

