*{
    margin: 0;
}
.header{
    background-color: #007294; 
}
.navigation-bar{
    border: 2px solid #007294;
}
.navigation-bar > ul{
    list-style-type: none;
    margin:30px 130px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
.navigation-bar > ul > li{
    padding: 30px;
    color: white;
    font-size: 20px;
}
.navigation-bar > ul > li:nth-child(1){
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}
.navigation-bar > ul > li:hover{
    background-color: #005f73;
    cursor: pointer;
}
.navigation-bar > ul > li > a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: #e3e9dc;
}
.footer > .links-blog{
    padding:100px 0 ;
    margin:0 100px;

    display: flex;
   
}
.left-content > .links{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* border: 2px solid white; */
    min-width: 200px;
}
.left-content > .links > ul{
    margin-right: 10px !important;  
}
.left-content > .links > ul > li{
    color:#005f73;
    list-style: none;
    padding:12px 0;
}
.left-content > .links > ul > li > a{
    color: #005f73;
}
.left-content > .links > ul > li > a:hover{
    text-decoration: none;
    cursor: pointer;
}
.links-blog  h2{
    color: #005f73;
}
.right-content > .info{
    margin:0 20px;
    width:400px;
    padding-left: 30px;
    /* border:2px solid white; */
} 
.right-content > .info > p{
    color:#005f73;
    padding:30px 0;
}
.info > .btn{
    background-color: #007294;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.footer > .copyright{
    /* background-color: #c4d7d3; */
    text-align: center;
    padding:20px 0;
    color:#005f73;
}

