.container-three{
display: flex;
width:100%;
gap:100px;
}


*{
    margin: 0;
}
.header{
    background-color: #007294; 
}
.navigation-bar{
    border: 2px solid #007294;
}
.navigation-bar > ul{
    list-style-type: none;
    margin:30px 130px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
.navigation-bar > ul > li{
    padding: 30px;
    color: white;
    font-size: 20px;
}
.navigation-bar > ul > li:nth-child(1){
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}
.navigation-bar > ul > li:hover{
    background-color: #005f73;
    cursor: pointer;
}
.navigation-bar > ul > li > a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: #e3e9dc;
}
.footer > .links-blog{
    padding:100px 0 ;
    margin:0 100px;

    display: flex;
   
}
.left-content > .links{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* border: 2px solid white; */
    min-width: 200px;
}
.left-content > .links > ul{
    margin-right: 10px !important;  
}
.left-content > .links > ul > li{
    color:#005f73;
    list-style: none;
    padding:12px 0;
}
.left-content > .links > ul > li > a{
    color: #005f73;
}
.left-content > .links > ul > li > a:hover{
    text-decoration: none;
    cursor: pointer;
}
.links-blog  h2{
    color: #005f73;
}
.right-content > .info{
    margin:0 20px;
    width:400px;
    padding-left: 30px;
    /* border:2px solid white; */
} 
.right-content > .info > p{
    color:#005f73;
    padding:30px 0;
}
.info > .btn{
    background-color: #007294;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.footer > .copyright{
    /* background-color: #c4d7d3; */
    text-align: center;
    padding:20px 0;
    color:#005f73;
}
/* GLOBAL STYLES  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

/* LAYOUT */
.container-two {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
}
.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;

  min-width: 280px;
}

.heading {
  font-size: 1.6em;
  margin-bottom: 1em;
  color: #007897;
}
.text {
  line-height: 1.6em;
  margin-bottom: 1.25em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 22px;
  background-color: #007b9d;
  border-radius: 8px;
}

li {
  display: flex;
  margin-bottom: 1rem;
}
li h4 {
  margin: 0.4rem 0 0.2rem;
}

.link-container .links-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.link-container ul li a {
  text-decoration: none;
  color: #007897;
  transition: 0.3s;
}
.link-container ul li a:hover {
  text-decoration: underline;
}
.banner-wrapper {
  background-color: #c8d2bc;
  margin: 0px;
  width: 100%;
  height: 200px;
  padding: 36px 0px;
}
/* .banner-wrapper {
  background-color: #c8d2bc;
  margin: 0px;
  width: 100%;
  height: 200px;
  padding: 36px 0px;
}
.container {
  margin: 0px 50px;
  width: calc(100% - 100px);
  padding: 0px;
  border: 0px;
}
.banner {
  position: relative;
    width: 100%;
    padding: 4em 0;
    border-radius: 10px;
    background-image: url(https://html5up.net/uploads/demos/minimaxing/assets/css/images/banner.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 0 0 20px #fff;
}
.banner h2, .banner span {
  color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px;
    font-family: 'Arial Black', sans-serif;
} */
 .banner {
  position: relative;
    width: 100%;
    padding: 4em 0;
    border-radius: 10px;
    background-image: url(https://html5up.net/uploads/demos/minimaxing/assets/css/images/banner.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 0 0 20px #fff;
}

.container-three>div{
  width:50%;
}
.container-three h2{
    text-transform: lowercase;
    font-size: 1.6em;
    letter-spacing: -1px;
    margin-bottom: 1em;
    color: #007897;
    font-weight: normal;
}
.middle-three{
display:flex;
/*   justify-content:space-between; */
  gap:100px;
margin-top:10px;
}
/* .img-three{
margin-top:40px;} */
.middle-three> .item-three>h3,h3{
  
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
.middle-three> .item-three{
max-width:300px;
/* height:200px; */
}
.item-three > h3{
font-size: 4.5em;
 margin-bottom: 0.8em;
  color: #283121;
}
.content-three p{
  margin-bottom: 1.25em;
  line-height: 1.8em;

}
.right-three .button{
display: inline-block;
    padding: 15px 25px 15px 25px;
    background-color: #007b9d;
    border-radius: 10px;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: -1px;
    border: solid 1px #006e8b;
    box-shadow: inset 0px 0px 0px 1px #18a8c8;
background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
}


.banner h2, .banner span {
  color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px;
    font-family: 'Arial Black', sans-serif;
}
